html {
  scroll-behavior: smooth;
}
body{
  background-color: #f8f9fa !important;
}
::-webkit-input-placeholder {
  text-align: center;
}

   /*slik slider  */
.slider {
    width: 80%;
    margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: #006400;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: 0.2;
}

.slick-current {
  opacity: 02;
}


/* slick ended */

  /* togalle button */
  .navbar-light .navbar-toggler {
    color: rgba(97, 69, 69, 0.5);
    background-color: white;
    border-color: rgba(0,0,0,.1);
}
/* img responsive */

.responsiveimg {
  width: 110%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  margin-top: 4rem !important;
}
  /* parallex */
  .pimg2, .pimg3, .pimg1{
    position:relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  
    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment:fixed;
  }
  
  
  
  .pimg2{
    background-image:url('../images/img7.jpg');
    min-height:300px;
  }
  
  .pimg3{
    background-image:url('../images/img7.jpg');
    min-height:300px;
  }
  .pimg1{
    background-image:url('../images/logo.jpg');
    min-height:300px;
  }
  
  .section{
    text-align:center;
    padding:50px 80px;
  }
  
  
  
  .section-dark{
    background-color:#006400;
    color:#ddd;
  }
  
  .ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
  }
  
  .ptext .border{
    background-color:#111;
    color:#fff;
    padding:20px;
  }
  
  .ptext .border.trans{
    background-color:#006400;
  }
  
  @media(max-width:270px){
    .pimg1, .pimg2, .pimg3{
      background-attachment:scroll;
    }
  }
   /* paralex end */
  .head-image{ 
    background-image: url(../images/img7.jpg);
    width: 100%;
    height: 330px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-x: right;



}
.center-text{
	position: relative;
	top: 33%;
	font-size: 68px;
  color: rgb(241, 7, 7);
  margin-top: 5rem;
  text-align: center !important;
}
	/*=-footer-=*/
  footer {
    color: #fff;
    background-attachment: fixed;
    background-color:#006400 !important;
    background-image: url(https://s7.postimg.org/uyf0oioaz/footer-bg.png);
    background-size: cover;
    background-position: bottom;
  }
  footer p {
    color: #ccc;				
  }
 footer a {
    color: #ccc;				
  }
  .social-pet li {
    display: inline-block;
    margin-right: 10px;
  }
  .social-pet li a {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    display: block;
    line-height: 35px;
    background-color: #3a5a95;
    color: #fff;
  }
  .social-pet li:nth-child(2) a {
    background-color: #57aced;
  }
  .social-pet li:nth-child(3) a {
    background-color: #dd4f43;
  }
  .social-pet li:nth-child(4) a {
    background-color: #6b27b2;
  }
  .social-pet li a:hover {
    background-color: #0141a2;
  }
  .social-pet li a:hover i {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
  .recent-post li {
    display: block;
    color: #ccc;
    margin-bottom: 25px;
  }
  .recent-post li label {
    float: left;
    border: 2px solid #ccc;
    padding: 1px 7px;
    text-align: center;
  }
  .recent-post li label span {
    color: #fff;
  }
  footer .input-group-addon {
    background-color: #000000;
    padding: 7px;
  }
  .f-address li {
    display: inline-block;
  }
  .f-address li i {
    color: #2995de;
    font-size: 18px;
  }
  .f-address li a {
    color: #ccc;
  }
  /*=-Copyright-=*/
  .copyright {
    background-color: #111;
    padding: 12px 0;
    font-size:14px;
  }
  /* sign up */
  

.inputData {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 60%;
  border: 1px solid #006400;
  border-radius: 25px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.formButton {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 60%;
  border: 0;
  border-radius: 25px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.formButton:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
/* button */
.blogButton {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 40%;
  margin-bottom: 1rem;
  margin-left: 6rem;
  border: 0;
  border-radius: 25px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
button:focus { 
  outline: none; 
}

/* tab */
.nav-tabk .nav-link.active,
.nav-tabk .nav-item.show .nav-link {
  color: #495057;
  background-color: #006600;
  border-color: #3a3a3a #3a3a3a #3a3a3a;
}
/* text decoration tab  */
.txt{
  text-decoration: none !important; 
  color: #006400; 
  font-size: 20px;
}


@media (max-width: 750px){
    
  
  .Div_Gap_Responsive {
      margin-top: 1rem !important;
  }

  .ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:12px;
    letter-spacing:1px;
    text-transform:uppercase;
  }
  

}